body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;

}

/* barra navegacion*/

#barranavegacion{
    font-family: 'Source Sans Pro', sans-serif;
color: black;}


#barranavegacion {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;

}
.logo{
width: 20%;
justify-content: flex-start;

}
#menu  {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;

}


#barranavegacion .categorias {
    font-weight: 600;
    text-decoration: none;
    gap: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
  }

#barranavegacion .categorias :hover {
font-weight: 600;  
color: #1E88E5;
}

/* carrusel*/
#carouselExampleDark{
 
    width: 90%;
    margin: 0 auto;
   
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

#carouselExampleDark .fotocarrusel1{
    background-image: url(../img/CIMcarrusel1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px 0;

    justify-content: center;

    width: 100%;
    height: 380px;

    flex-basis: 100%;
    max-width: 1200px;
    min-height: 330px;
}

#carouselExampleDark .fotocarrusel2{
    background-image: url(../img/CIMcarrusel2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px 0;

    justify-content: top;

    width: 100%;
    height: 380px;

    flex-basis: 100%;
    max-width: 1200px;
    min-height: 350px;

}
#carouselExampleDark .fotocarrusel3{
    background-image: url(../img/carrusel3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    border-radius: 40px 0;

    width: 100%;
    height: 380px;

    flex-basis: 100%;
    max-width: 1200px;
    min-height: 350px;
}

#carouselExampleDark .textocarrusel{
    font-style: oblique;
    color: white;
    text-shadow: 2px 2px 2px #555658;
    align-content: center;
    font-weight: 600;
}
#carouselExampleDark p{
    font-style: oblique;
    color: white;
    text-shadow: 2px 2px 2px #555658;
    align-content: center;
    font-weight: 500;

}

/* seccion presentacion */

#presentacion{
    width: 90%;
    margin: 0 auto;
    display: flex;

    background-color: whitesmoke;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 10px;
    margin-top: 30px;
}

#presentacion .presentacion1{
    width: 90%;
    min-width: 380px    ;

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    justify-content: space-evenly;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right,#e3edf2, #c5e0fb);
    border-radius: 10px;
    margin: 20px 10px;
    padding:  20px;
    
    min-height: 380px;
}



#presentacion .logo {
    background-image: url(../img/icononegro.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 120px;
    display: flex;

    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    align-content: center;
}




#presentacion .texto {
    width: 60%;
    min-width: 380px;
    margin: 0 auto;
    
    flex-grow: 1;
    padding:  25px;
    text-align: none;
    text-align-last: left;
    hyphens: auto;
    text-indent: 0px;
}
#presentacion .texto h2 {
    font-weight: 600;
    margin-top: 0px;
    line-height: 30px;
    margin: 15px 0;
}
#presentacion .texto h6 {
    font-weight: 600;
    margin-top: 0px;
}
#presentacion .texto h5 {
    font-weight: 500;
    margin-top: 0px;
    line-height: 25px;
}

#presentacion .texto1   span{
    background-color: #0a4da6;
    color: white;
    padding: 5px 12px;
    border-radius: 12px 0;
    line-height: 30px;
}

#presentacion .colorres {
    background-color: #030a8c;
    color: white;
    padding: 5px 12px;

}

/*servicios */

#servicios {
    width: 90%;
    margin: 0 auto;
}

#servicios .seccion {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-weight: 600;
}



#fondo {
    width: 100%;
    margin: 0 auto;
}

/* servicio 1 */

#servicios .servicio1{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 40px 0 50px 0;

    background-color: #FFF7DB;
    border-radius: 10px;

}

#servicios .foto1 {
    background-image: url(../img/servicio1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 380px;
    height: 280px;

    flex-basis: 450px;
    max-width: 550px;
    min-height: 280px;
    border-radius: 10px;
}


#servicios .texto1  {
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 500px;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 25px;
    text-align: justify;
}

#servicios .servicio1  .subtitulo {
    margin-top: 20px;
    margin-left: 0px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-weight: 700;

    display: flex;
    align-items:center;
}

#servicios .servicio1   span{
    background-color: #f2b90c;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 12px 0;
}

#servicios .servicio1 h6{
    margin-top: 10px;
}

#servicios  .servicio1 footer  {
    display: flex;
    justify-content: flex-end;   
}

#servicios  .boton1{
    background-color: #fec768;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 5px 50px;
    transition: .3s ease all;
    font-weight: bold;
    margin: 15px 20px;
}

#servicios .boton1 a{
    text-decoration: none;
    color: white;
}

#servicios .color  :hover{
    background-color: #f2b90c;
    color: white;
    text-decoration: none;
}
#servicios .color  :active{
    background-color: #ff9c08;
    color: white;
    text-decoration: none;
}

/* servicio 2   */

#servicios .servicio2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 40px 0 50px 0;

    background-color: #c5e0fb;
    border-radius: 10px;

}

#servicios .texto2  {
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 500px;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 25px;
    text-align: justify;
}

#servicios .servicio2  .subtitulo {
    margin-top: 20px;
    margin-left: 0px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items:center;
}

#servicios .servicio2   span{
    background-color: #1E88E5;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 12px 0;
}

#servicios .servicio2 h6{
    margin-top: 10px;
}

#servicios .servicio2 footer{
    margin-bottom: 15px;
}

#servicios  .servicio2 footer  {
    display: flex;
    justify-content: flex-end;    
}



/* servicio 2 desgloce */

#servicios .boton2{
    background-color: #1E88E5;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    padding: 5px 40px;
    font-weight: 600;   
    margin: 15px 20px;
}

#servicios .boton2 a{
    text-decoration: none;
    color: white;
}

#servicios .color2  :hover{
    background-color: #0a4da6;
    color: white;
    text-decoration: none;
}

#servicios .boton3{
    background-color: transparent;
    border: 2px solid #1E88E5 ;
    color: #1E88E5;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 5px 40px;
    font-weight: 600;   
    margin: 15px 20px;
    display: inline-block;
}
#servicios .color2 :hover{
    background-color: #0a4da6;
    border: transparent;
}
#servicios .color2 :active{
    background-color: #030a8c;
    border: transparent;
}
#servicios .flecha{
    padding-left: 8px;
}
#servicios .servicio2a , .servicio2b , .servicio2c  ,  footer  { /* agregar servico 3 y 4 */
    display: flex;
    justify-content: space-around;    
}
#servicios  .servicio2a  , .servicio2b , .servicio2c  ,   h3 {
    margin-top: 20px;
    font-weight: 600;
    }
#servicios .servicio2a , .servicio2b , .servicio2c{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 50px 0;

    background-color: #e3edf2;
    border-radius: 10px;
}
#servicios .boton3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#servicios .texto2a , .texto2b , .texto2c{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 500px;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 25px;
    text-align: justify;
}
#servicios .foto2 {
    background-image: url(../img/servicio2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 380px;
    height: 280px;

    flex-basis: 450px;
    max-width: 550px;
    min-height: 280px;
    border-radius: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#servicios .foto3{
    background-image: url(../img/grupo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 380px;
    height: 280px;

    flex-basis: 450px;
    max-width: 550px;
    min-height: 280px;
    border-radius: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#servicios .foto4{
    background-image: url(../img/grupo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 380px;
    height: 280px;

    flex-basis: 450px;
    max-width: 550px;
    min-height: 280px;
    border-radius: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#servicios .foto5{
    background-image: url(../img/grupo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 380px;
    height: 280px;

    flex-basis: 450px;
    max-width: 550px;
    min-height: 280px;
    border-radius: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#servicios .requisitos{
    font-weight: 600;
    list-style: none;
}
#servicios  .modal-title{
    font-weight: 600;
}


/* texto en foto */

#servicios .servicio2a  h4 {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items:center;
}

#servicios .servicio2a      span{
    background-color: #030a8c;
    padding: 5px 12px;
    font-size: 16px;
    border-radius: 12px 0;
}


#servicios .servicio2b h4 {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items:center;
}

#servicios .servicio2b  span{
    background-color: #030a8c;
    padding: 5px 12px;
    font-size: 16px;
    border-radius: 12px 0;
}
#servicios .servicio2c h4 {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items:center;
}

#servicios .servicio2c  span{
    background-color: #030a8c;
    padding: 5px 12px;
    font-size: 16px;
    border-radius: 12px 0;
}


#servicios .modal-title {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

#servicios .modal-header {
    background-color: #030a8c;
}



/* seccion nosotros */

#nosotros{
    width: 90%;
    margin: 0 auto;

}

#nosotros .seccion {

    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-weight: 600;
    
}

/* seccion azul */
#carouselExampleInterval {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    border-radius: 10px;
    height: 100%;
    background-color: #0a4da6;
    background: linear-gradient(to bottom right,#030a8c,#0a4da6);

    min-width: 380px;
}

#carouselExampleInterval .carousel-inner{
    width: 80%;
}

#carouselExampleInterval h5{
    color: white;
    text-align: justify;
    padding: 50px 30px;
    text-indent: 30px;
    font-weight: 700;
    line-height: 40px;
}

/*secion perfiles*/

#perfiles {
    width: 90%;
    margin: 0 auto;
}

#perfiles .seccion {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#perfiles .perfil123{
    background-color: #BDD9F2;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    border-radius: 10px;
    max-width: 1200px;
    min-height: 30vh;
    display: flex;
    align-items: top;

    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    

#perfiles .detalle  ul{
    list-style: square;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#perfiles .perfil123 .perfil1{
    background-image: url(../img/Alicia\(1\).jpg);
    background-size: cover;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 30px;

    flex-basis: 260px;
    max-width: 300px;
    flex-grow: 1;
}

#perfiles .perfil123 .perfil2{
    background-image: url(../img/daniela-kupher.jpg);
    background-size: cover;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 30px;

    flex-basis: 260px;
    max-width: 300px;
    flex-grow: 1;
}
#perfiles  .perfil123 .perfil3{
    background-image: url(../img/Alejandro.jpg);
    background-size: cover;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    margin-bottom: 30px;

    flex-basis: 260px;
    max-width: 300px;
    flex-grow: 1;
}
#perfiles .perfil123 .perfil3  :hover {
    background-size: cover;
    
    transform: scale (1.1);
    transition: all 300ms;
}




#perfiles .detalle{
    background-color: #e3edf2;
    padding: 15px 10px 1px 10px;
    border-radius: 10px;

    flex-basis: 280px;
    max-width: 280px;
    flex-grow: 1;
    margin-bottom: 30px;
}



#perfiles .nombre  {
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    padding: 7px;
    margin-top: 10px;
}

#perfiles .nombre :hover{
    transform: scale(1.05);
    transition: all 300ms;
    background-color: #030a8c;
}



#perfiles .nombre   span{
    background-color:#88aabf;
    padding: 5px 18px;
    border-radius: 12px 0;
    align-items:center;
}
/* boton perfil desplegar */

#perfiles .botonderecha{
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

#perfiles .botonperfil{
    background-color: #e3edf2;
    border: 2px solid #1E88E5 ;
    color: #1E88E5;
    border-radius: 7px;
    padding: 5px 70px;
    font-weight: 600;   
    font-size: 14px;
}

#perfiles .flecha{
    padding-left: 10px;
}

#perfiles .btn :hover{
    background-color: #1E88E5;
    color: white;
    border: 2px solid #1E88E5 ;

}

#perfiles .btn :active{
    background-color: #030a8c;
    border: 2px solid #030a8c ;
    color: white;
}

/* seccion vinculos */
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *3));
    }
}

#vinculos .slider{
    height: auto;
    overflow: hidden;
    position: relative;
    width: 60%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: white;

    min-width: 350px;

}

#vinculos .slider .slide-track{
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 7 );
}

#vinculos .slide{
    padding: 20px;
}



#vinculos{
width: 90%;
margin: 0 auto;
}



#vinculos .seccion {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-weight: 600;
    font-family:inherit;
}

#vinculos .textovinculos{
    
    margin: 0 30px;
    padding: 30px;
    text-align: justify;
    margin-top: 30px;
    text-indent: 25px;

}

/* noticia */

#noticias {
    width: 90%;
    margin: 0 auto;
}

#noticias .seccion {
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 600;

}


#noticias .noticia1{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 30px 0;

    background-color:white;
    border-radius: 10px;
}



#noticias .fotonoticia{
    background-image: url(../img/noticia1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 380px;
    height: 280px;

    flex-basis: 450px;
    max-width: 550px;
    min-height: 300px;
    border-radius: 10px;

}

#noticias .textonoticia1{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 500px;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 30px;
}


#noticias .textonoticia1{
    margin-bottom: 10px;

}

#noticias .fotonoticia2{
    background-image: url(../img/andolfi.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 380px;
    height: 280px;

    flex-basis: 450px;
    max-width: 550px;
    min-height: 300px;
    border-radius: 10px;
}

#noticias  h5{
    margin-top: 15px;
}

#noticias .btnnoticias{
    display: flex;
    justify-content: flex-end;
}

#noticias  p span  {
    background-color: #BDD9F2;
    color: #555658;
    margin-top: 10px;

    border-radius: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 5px 15px;
}

#noticias .btnnoticias :hover{
    background-color: #88aabf;
    color: white;
    content: texto;
}

/* biblioteca */

#biblioteca{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;}

#biblioteca .seccion {
    margin-top: 30px;
    margin-left: 30px;
}

#biblioteca .publicaciones123{
    background-color: whitesmoke;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    max-width: 1200px;
    min-height: 350px;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;

    }
    

#biblioteca .publicaciones123 .publicacion1{
    background-image: url(../img/libro.jpg);
    background-size: cover;

    width: 320px;
    height: 350px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;

    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;

}

#biblioteca .publicaciones123 .publicacion2{
    background-image: url(../img/libro.jpg);
    background-size: cover;
    width: 320px;
    height: 350px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;


    flex-basis: 300px;
    max-width: 450px;
    flex-grow: 1;
}
#biblioteca  .publicaciones123 .publicacion3{
    background-image: url(../img/libro.jpg);
    background-size: cover;
    width: 320px;
    height: 350px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;

    flex-basis: 300px;
    max-width: 450px;
    flex-grow: 1;

}

#biblioteca .detalle{
    background-color: #BDD9F2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#biblioteca .boton{
    display: flex;
    justify-content: flex-end;
  
    padding: 5px;
}

/* fin biblioteca*/


/* inicio contacto */

#contacto{
    width: 100%;
    margin: 0 auto;
    padding: 30px  ;
    align-items: center;

    padding: 30px 0 0 0;

    margin-top: 30px;
    margin-bottom: 30px;
}

/* inicio footer */

#piedepagina{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-color: #030a8c;
        color: white;
        padding: 70px 0 ;
    }

    #piedepagina .row{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;    
    }
       
    #piedepagina ul{
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 14px;    }

    #piedepagina .footer-col{
    width: 20%;
    min-width: 200px;
    gap: 20px;
    padding: 10px;
    margin: 10px;           
    }

    #piedepagina .footer-col h4{

    font-weight: 700;
    margin-bottom: 20px;
    }

    #piedepagina .footer-col ul  a{    
    font-weight: 600;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    display: block;    
    }

    #piedepagina .footer-col ul li :hover{    
    color: #f2b90c;
    padding-left: 10px;   
    font-weight: 600;
    }
       
    #piedepagina .logoblanco{
    background-image: url(../img/logo-prueba-blanco.svg);
    background-repeat: no-repeat;
    width: 150;
    height: 120px;
    display: flex;
    

    flex-basis: 300px;
    max-width: 350px;
    flex-grow: 1;

    

    margin:  10px;
    padding: 20px;
    margin-left: 50px;

   }

   #piedepagina .linea{
       display: flex;
       flex-direction: row;
       align-items: center;
   }

   #piedepagina .icono{
       padding-right: 10px;
   }
   #piedepagina .margen{
    padding-left: 20px;
}
#piedepagina .espacio{
    margin-top: 10px;
}



/* formulario 1 */


   #formulario {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    }


    #formulario .contenido1{
        background-image: url(../img/fondo1final.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0;
    }

    #formulario .imagenfondo {
        background-image: url(../img/icono2.svg);
        background-repeat: no-repeat;
        background-position: center;
        
        height: 250px;

        width: auto ;
        
        flex-grow: 1;
    
        margin: 30px;
        padding: 20px;
    
    }


#formulario .formulario1 {
    flex-basis: 450px;
    max-width: 550px;
    min-width: 280px;
    flex-grow: 1;
    margin: 60px 40px ;
    text-align: justify;
    border-radius: 12px;
    font-weight: 500;

    background-color: #FFF7DB;
    display: grid;
    flex-direction: row;
    padding: 30px;
}

#formulario .formulario1  .subtitulo {
    margin-top: 20px;
    margin-left: 0px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-weight: 700;

    display: flex;
    align-items:center;
}

#formulario .marco{
    background-color: white;
    border-radius: 12px;
}

#formulario .logo{
    background-image: url(../img/logo-color-banner.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 40px;
    width: auto ;
    padding: 20px;
    margin: 10px 0;
}

#formulario .formulario1   span{
    background-color: #f2b90c;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 12px 0;
}

#formulario  .botonenviar {
    background-color: #f2b90c;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 5px 40px;
    transition: .3s ease all;
    font-weight: bold;
    margin: 15px 20px;
}

#formulario .form-label{
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 2px;
}

#formulario .botonenviar   :hover {
    background-color: #f2b90c;
    color: white;
    text-decoration: none;
}
#formulario  .botonenviar  :active{
    background-color: #ff9c08;
    color: white;
    text-decoration: none;
}

#formulario  .formulario1 footer  {
    display: flex;
    justify-content: flex-end;    
}


/* formulario 2 */

#formulario .contenido2{
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 0;
}

#formulario .formulario2 {
    flex-basis: 450px;
    max-width: 550px;
    min-width: 280px;
    flex-grow: 1;
    margin:  60px 40px;
    text-align: justify;
    border-radius: 10px;
    font-weight: 500;

    background-color: #e3edf2;
    display: grid;
    flex-direction: row;
    padding: 30px;
}

#formulario .formulario2  .subtitulo {
    margin-top: 20px;
    margin-left: 0px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-weight: 700;

    display: flex;
    align-items:center;
}

#formulario .formulario2   span{
    background-color: #1E88E5;
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 12px 0;
}

#formulario .formulario2 .botonenviar {
    background-color: #0a4da6;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 5px 40px;
    transition: .3s ease all;
    font-weight: bold;
    margin: 15px 20px;
}

#formulario  .formulario2 footer  {
    display: flex;
    justify-content: flex-end;    
}
