body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;

}
/* barra navegacion*/

#barranavegacion{
    font-family: 'Source Sans Pro', sans-serif;
color: black;}


#barranavegacion {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;

}
.logo{
width: 20%;
justify-content: flex-start;

}
#menu  {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;

}


#barranavegacion .categorias {
    font-weight: 600;
    text-decoration: none;
    gap: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
  }

#barranavegacion .categorias :hover {
font-weight: 600;  
color: #1E88E5;

}



/* carrusel*/
#carouselExampleDark{
 
    width: 90%;
    margin: 0 auto;
   
    margin-top: 50px;
    align-items: center;
    justify-content: center;

}


#carouselExampleDark .fotocarrusel1{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    border-radius: 30px 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: 400px;

    flex-basis: 100%;
    max-width: 1200px;
    min-height: 350px;
}

#carouselExampleDark .fotocarrusel2{
    background-image: url(../img/carrusel2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 30px 0;

    display: flex;
    align-items: flex-end;
    justify-content: top;

    width: 100%;
    height: 400px;

    flex-basis: 100%;
    max-width: 1200px;
    min-height: 350px;
}
#carouselExampleDark .fotocarrusel3{
    background-image: url(../img/carrusel3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    border-radius: 30px 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: 400px;

    flex-basis: 100%;
    max-width: 1200px;
    min-height: 350px;
}


#carouselExampleDark .textocarrusel{
    font-style: oblique;
    color: white;
    text-shadow: 2px 2px 2px #555658;
    align-content: center;

}
#carouselExampleDark p{
    font-style: oblique;
    color: white;
    text-shadow: 2px 2px 2px #555658;
    align-content: center;

}


/* imagen principal*/

#imagenprincipal{
 
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

}


#imagenprincipal .imagenfondo{
    
    
    margin: 40px 0   ;

    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: 380px;

    flex-basis: 100%;
    max-width: 1200px;
    min-height: 300px;


}



#imagenprincipal .texto {
    font-weight: 700;
    font-style: oblique;
    color: white;
    text-shadow: 2px 2px 2px #555658;
    padding: 25px;
    align-content: center;

}

/* seccion presentacion */



#presentacion{
    width: 90%;
    margin: 0 auto;
    background-color: white;
}



#presentacion .presentacion1{
    
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 40px 0;
}



#presentacion .logo {
    background-image: url(../img/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 320px;
    height: 80px;

    flex-basis: 490px;
    max-width: 350px;
    min-height: 80px;

    flex-grow: 1;


    margin: 30px 20px;
    padding: 20px;

}

#presentacion .textopresentacion{
    flex-basis: 500px;
    max-width: 700px;
    flex-grow: 1;
    margin: 0 20px;
    padding: 20px;
}

/*servicios */

#servicios {
    width: 90%;
    margin: 0 auto;
}

#servicios .seccion {
    margin-top: 20px;
    margin-left: 30px;
}

#servicios ::selection {
 background-color: black;
 color: white;
}

#servicios .servicio1{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 40px 0 30px 0;

    background-color: #FFF7DB;
    border-radius: 10px;

}

#servicios .foto1 {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 400px;
    height: 300px;

    flex-basis: 500px;
    max-width: 600px;
    min-height: 300px;
    border-radius: 10px;

}

#servicios .texto1{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 500px;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 20px;
}


#servicios .subtitulo{
font-weight: 600;
color: #555658;
margin-bottom: 15px;
}

#servicios  footer{
    display: flex;
    justify-content: flex-end;    
}
#servicios .boton1{
    background-color: #fec768;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 5px 15px;
    transition: .3s ease all;

}

 #servicios .color  :hover{
     background-color: yellow;
    color: red;
    cursor: pointer;
}





#servicios .boton2{
    background-color: #1E88E5;
    color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 5px 15px;
   
}


#servicios .color2 :hover{
    background-color: #BDD9F2;
    color: #1E88E5;
}



#servicios h5{
    margin-left: 30px;

}

#servicios  h6 {
    margin-top: 30px;
}


#servicios  h6 span{
    background-color: white;
    padding: 5px 7px;
    margin-top: 15px;
}

#servicios .servicio2{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 30px 0;

    background-color: #e3edf2;
    border-radius: 10px;

}

#servicios .foto2 {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 400px;
    height: 300px;

    flex-basis: 500px;
    max-width: 600px;
    min-height: 300px;
    border-radius: 10px;

}

#servicios .texto2{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 500px;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 20px;
}

#servicios .servicio3{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 30px 0;

    background-color: #e3edf2;
    border-radius: 10px;
}

#servicios .foto3{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 400px;
    height: 300px;

    flex-basis: 500px;
    max-width: 600px;
    min-height: 300px;
    border-radius: 10px;

}

#servicios .texto3{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 500px;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 20px;
}

#servicios .servicio4{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 30px 0;

    background-color: #e3edf2;
    border-radius: 10px;
}
#servicios .foto4{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 400px;
    height: 300px;

    flex-basis: 500px;
    max-width: 600px;
    min-height: 300px;
    border-radius: 10px;

}

#servicios .texto4{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 500px;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 20px;
}

#servicios .btnservicios{
    display: flex;
    justify-content: flex-end;
}

#servicios  p span  {
    background-color: #BDD9F2;
    color: #555658;
    font-weight: 500;

    margin-top: 10px;

    border-radius: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 5px 15px;
}

#servicios .btnservicios :hover{
    background-color: #1E88E5;
    color:white;
    font-weight: 500;
}





/* seccion nosotros */

#nosotros{
    width: 90%;
    margin: 0 auto;
}

#nosotros .seccion {
    margin-top: 20px;
    margin-left: 30px;
}

#nosotros .historia1{
    background-color: white;

    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 40px 0;
}

#nosotros .textonosotros{
    
    flex-basis: 500px;
    max-width: 700px;
    flex-grow: 1;
    margin: 0 20px;
    padding: 20px;
}

#nosotros .icono {
    background-image: url(../img/icono.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 220px;
    height: 220px;

    flex-basis: 400px;
    max-width: 250px;
    min-height: 250px;
    flex-grow: 1;


    margin: 30px 20px;
    padding: 20px;


}


/*secion perfiles*/

#perfiles {
    width: 90%;
    margin: 0 auto;
}


#perfiles .seccion {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;

}



#perfiles .perfil123{
    background-color: #BDD9F2
    ;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    border-radius: 10px;
    max-width: 1200px;
    min-height: 30vh;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    

#perfiles .perfil123 .perfil1{
    background-image: url(../img/perfil1.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;

    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;

}

#perfiles .perfil123 .perfil2{
    background-image: url(../img/perfil2.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;

    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;
}
#perfiles  .perfil123   .perfil3{
    background-image: url(../img/perfil3.jpeg);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 15px;

    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;
}

#perfiles .detalle{
    background-color: #e3edf2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;

    flex-basis: 280px;
    max-width: 300px;
    flex-grow: 1;
}


#perfiles .detalle h5{
    padding: 5px;
font-weight: 600;
    text-align: center;
}

#perfiles .detalle p{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: justify;
    font-style: bold;
    font-style: italic
}

/* seccion vinculos */
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *3));
    }

}

.slider{
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider .slide-track{
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 7 );
    margin-top: 30px;

}
.slider .slide{
    height: 100px;
    width: 250px;
}

#vinculos{
width: 90%;
margin: 0 auto;
}

#vinculos .slider{
width: 70%;
margin: 0 auto;
background-color: white;
border-radius: 10px;
}

#vinculos .seccion {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
}

#vinculos .textovinculos{
    margin: 0 30px;
    padding: 30px;
    text-align: justify;
    margin-top: 30px;
}

/* noticia */

#noticias {
    width: 90%;
    margin: 0 auto;
}

#noticias .seccion {
    margin-top: 30px;
    margin-left: 30px;

}

#noticias .noticia1{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 30px 0;

    background-color:white;
    border-radius: 10px;

}



#noticias .fotonoticia{
    background-image: url(../img/noticia1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 400px;
    height: 300px;

    flex-basis: 500px;
    max-width: 600px;
    min-height: 300px;
    border-radius: 10px;

}

#noticias .textonoticia1{
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 500px;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 20px;
}


#noticias .textonoticia1{
    margin-bottom: 10px;

}

#noticias .fotonoticia2{
    background-image: url(../img/andolfi.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 400px;
    height: 300px;

    flex-basis: 500px;
    max-width: 600px;
    min-height: 300px;
    border-radius: 10px;

}





#noticias  h5{
    margin-top: 15px;
}




#noticias .btnnoticias{
    display: flex;
    justify-content: flex-end;
}

#noticias  p span  {
    background-color: #BDD9F2;
    color: #555658;
    margin-top: 10px;

    border-radius: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 5px 15px;
}




/* biblioteca */


#biblioteca{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;}

#biblioteca .seccion {
    margin-top: 30px;
    margin-left: 30px;
}

#biblioteca .publicaciones123{
    background-color: whitesmoke;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    max-width: 1200px;
    min-height: 350px;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;

    }
    

#biblioteca .publicaciones123 .publicacion1{
    background-image: url(../img/libro.jpg);
    background-size: cover;

    width: 320px;
    height: 350px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;

    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;

}

#biblioteca .publicaciones123 .publicacion2{
    background-image: url(../img/libro.jpg);
    background-size: cover;
    width: 320px;
    height: 350px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;


    flex-basis: 300px;
    max-width: 450px;
    flex-grow: 1;
}
#biblioteca  .publicaciones123 .publicacion3{
    background-image: url(../img/libro.jpg);
    background-size: cover;
    width: 320px;
    height: 350px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;

    flex-basis: 300px;
    max-width: 450px;
    flex-grow: 1;

}

#biblioteca .detalle{
    background-color: #BDD9F2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;

}



#biblioteca .boton{
    display: flex;
    justify-content: flex-end;
  
    padding: 5px;
}



/* fin biblioteca*/


/* inicio contacto */

#contacto{
    width: 100%;
    margin: 0 auto;
    padding: 30px  ;
    align-items: center;

    padding: 30px 0 0 0;

    margin-top: 30px;
    margin-bottom: 30px;
}

    

#contacto .seccion {
    margin-top: 30px;
    margin-left: 30px;
}


#contacto .datoscontacto{
    background-color: #d0dae0;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    
    margin: 0 30px ;
    gap: 30px;

    border-radius: 10px;
    flex-grow: 1;


  

}









